<div style="padding: 25px; width: 300px; height: 50px; position: relative; float: left;">
  <p>{{ actuator.id }}: {{ actuator.name }} (switched on: {{ actuator.state.SwitchedOn }})</p>
  <button (click)="toggleState()">Toggle State</button>
</div>
